.idea/
.DS_Store
vendor/
node_modules/
.env
storage/*.key
/public/storage
/public/hot
/public/build
auth.json
.phpunit.result.cache
.project
.settings
.vscode
.php_cs.cache
.php-cs-fixer.cache
/src/vendor/
/src/node_modules/
/src/.env
/src/storage/*.key
/src/public/storage
/src/public/hot
/src/public/build
